* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(231, 241, 248);
}

img {
    width: 180px;
    height: 60px;    
}

/* --------------------------------------------------- SIDEBAR ---------------------------------------------------*/
.sidebar {
    position: fixed;
    width: 250px;
    margin-top: 60px;
    height: 100%;
    transition: all .5s ease;
    background-color: #272736;
}

.sidebar header {
    font-size: 25px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #272736;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: border-box;
    border-left: 15px solid transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .5s ease;
}

a.active,a:hover {
    border-left: 5px solid #51F0E5;
    color: #51F0E5;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 28px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
} 

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

/* --------------------------------------------------- TOPBAR ---------------------------------------------------*/

.topbar {
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 25px 7px #525252;
    background: #1e1e29;
}

#user-icon {
    float: right;
    margin: 13px 25px 10px 0;
    font-size: 23px;
    color: #ffffff;

}

#user-icon:hover {
    color: #51F0E5;
    transition: 5s;
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 30px auto;
}

.container-dados-vagas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1630px;
    height: 300px;
    padding: 20px 0px;
    margin-left: 270px;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.container-dados-vagas-02 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1630px;
    height: 300px;
    padding: 20px 0px;
    margin-top: 80px;
    margin-left: 270px;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-vagas {
    width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    background-color: #51F0E5;
}

.dashboard {
    width: 1600px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    background-color: #51F0E5;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 860px) {.sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    } 
}  